.video-card {
    cursor: pointer;
}

.video-thumbnail {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.video-info-container {
    display: flex;
    margin-top: 12px;
    gap: 12px;
}

.video-info {
    flex: 1;
}

.video-title {
    color: white;
    font-weight: 600;
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.video-channel-name, .video-meta {
    color: #a8a8a8;
    font-size: 12px;
    margin-top: 4px;
}